.button {
  height: 52px;
  width: 100%;
  background: var(--gray-400);
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  padding: 16px;
  color: var(--white);  
}

.button::placeholder {
  color: var(--gray-300);
}
